@import "antd/dist/antd.css";

html,
body,
div,
p,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
}

.content-layout {
  width: 1080px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
}
